.song{
    display: flex !important;
    justify-content: space-between;
    padding: 0 20px; 
    margin: 13px;  
}

.song > .download{
    height:20px;
    width:20px;  
}

.num{
    color: red;   
}

.audio{
    text-decoration: none;
    display: flex;
}
.name{
    padding-left: 10px;
    color: white;
}